{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    {% for article in articles %}
        <div>
            <h2>{{ article.id }} - {{ article.title }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <div>
        <a href="{{ path('show_category', { 'name' : 'Javascript'}) }}">
            Javascript category.
        </a>
        <br>
        <a href="{{ path('show_category', { 'name' : 'CatA'}) }}">
            CatA category.
        </a>
        <br>
        <a href="{{ path('show_category', { 'name' : 'CatB'}) }}">
            CatB category.
        </a>
        <br>
        <a href="{{ path('app_index') }}">
            Back to homepage.
        </a>
    </div>
{% endblock %}